ul.tabs
{
    padding: 7px 0;
    font-size: 0;
    margin:0;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the tabs as desired*/
}
        
ul.tabs li
{
    display: inline;
    margin: 0;
    margin-right:3px; /*distance between tabs*/
}
        
ul.tabs li a
{
    font: normal 12px Verdana;
    text-decoration: none;
    position: relative;
    padding: 7px 16px;
    border: 1px solid #CCC;
    border-bottom-color:#B7B7B7;
    color: #000;
    background: #F0F0F0 url(tabbg.gif) 0 0 repeat-x;
    border-radius: 3px 3px 0 0;
    outline:none;
	background: #e1e1e1;
}
        
ul.tabs li a:visited
{
    color: #000;
}
        
ul.tabs li a:hover
{
    border: 1px solid #B7B7B7;
    background:#F0F0F0 url(tabbg.gif) 0 -36px repeat-x;
}

ul.tabs li.ui-tabs-active a
{
	position: relative;
    top: 0px;
    font-weight:bold;
    background: white;
    border: 1px solid #B7B7B7;
    border-bottom-color: white;
}
        
ul.tabs li.selected a:hover
{
    text-decoration: none;
}
     

div.tabcontents
{
    border: 1px solid #B7B7B7; padding: 30px;
    background-color:#FFF;
    border-radius: 0 3px 3px 3px;
}

#header {
	margin-bottom: 15px;
	width: auto;
	height: 90px;
	background: #4388CC;
}

body {
    background-color: #f3f3f3;
} 

.userID
{
	font-weight: bold;
	font-size: 12px;
	position: absolute;
	margin-right: 0.1%;
    top: 17px;
    right: 60px;
	color:#FFFFFF;
}

.bitsHeader
{
	font-size: 28px;
	position: absolute;
	margin-left: 0.1%;
	top: 15px;
	left: 25px;
	color:#FFFFFF;
}

iframe {
    display:block;
    width:100%;
    min-height:725px;
    border-color: #ededed;
}